.calender_box {
    background-color: rgb(255, 224, 181);
    font-weight: 900;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    margin-right: 10px;
    margin-left: 20px;
}

.header h4 {
    margin-top: 30px;
}

.header div {
    display: flex;
}

.header div button {
    margin: auto 10px auto 0px;
    background-color: white;
    color: rgb(120, 120, 120);
    height: 30px;
    width: 30px;
    border: solid 2px rgb(180, 180, 180);
    border-radius: 50%;
}

.header div button:active {
    background-color: rgb(180, 180, 180);
    color: white;
  }
  
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 98%;
    gap: 10px;
    list-style: none;
    margin: 0 1%;
    padding: 0;
}

.days li {
    color: rgb(65, 65, 65);
    text-align: center;
    background-color: white;
}

.days li:nth-child(1) {
    color: rgb(255, 62, 62);
}

.days li:nth-child(7) {
    color: rgb(59, 59, 255);
}

.date_dox {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 100px);
    gap: 10px;
    margin: 1%;
    padding-bottom: 15px;
}

.date_dox div {
    color: rgb(65, 65, 65);
    background-color: white;
    padding: 5px;
}

.date_dox div:nth-child(7n + 1) {
    color: rgb(255, 62, 62);
}

.date_dox div:nth-child(7n + 7) {
    color: rgb(59, 59, 255);
}